.inputFieldWrapper {
  width: 100%;
}

.inputLabel {
  flex: 0 0 8rem;
  text-align: right;
  margin-right: 0.75rem;
}

.inputLabel_text {
  filter: contrast(10%);
}

.inputLabel_required {
  position: relative;
}

.inputLabel_required::after {
  content: '*';
  position: absolute;
  color: red;
  right: -0.4rem;
  top: 0;
}

.input_required {
  position: relative;
}

.input_required::after {
  content: '*';
  position: absolute;
  color: red;
  right: -0.4rem;
  top: -0.6rem;
}

.inputWrapper {
  width: 100%;
}

input.input {
  width: calc(100% - 0.5rem);
  height: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.1s ease-in background-color;
  border-radius: 3px;
}

input.input:focus {
  outline: none;
  border-color: #0030cc;
}

input.input_error {
  background-color: rgb(252, 190, 190);
  border-color: rgba(255, 0, 0, 0.4);
  transition: 0.1s ease-in background-color;
}

input.input_error:focus {
  border-color: rgba(255, 0, 0, 0.9);
}

.inputErrorMessage {
  color: rgba(255, 0, 0, 0.8);
  margin: 0.2rem 0;
  height: 1.3rem;
  font-style: oblique;
  opacity: 0;
  transition: 0.1s ease-in opacity;
}

.inputErrorMessage_visible {
  opacity: 1;
  transition: 0.1s ease-in opacity;
}

.errorIcon {
  background-color: rgba(255, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  text-align: center;
  border-radius: 100%;
  font-style: normal;
  font-weight: bold;
  margin-right: 0.2rem;
}
